vless://{{ uuid }}@{{ server_ip }}:{{ port }}?encryption=none&flow=xtls-rprx-vision&security=reality&sni={{ reality_sni }}&fp=chrome&pbk={{ reality_public_key }}&sid={{ reality_short_id }}&type=tcp&headerType=none#{{ username }}