{
  "server": "::",
  "server_port": {{ ss_port }},
  "password": "{{ ss_password }}",
  "method": "2022-blake3-aes-256-gcm",
  "mode": "tcp_and_udp",
  "fast_open": true,
  "timeout": 300,
  "nameserver": "1.1.1.1",
  "ipv6_first": false
}
